<!DOCTYPE html>

<html>
<head runat="server">
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title>DoanhNghiep</title>
	<link href="../../Content/Styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
		<div id="page1000" class="header">
            <div>
			    <object type="application/x-shockwave-flash"  data="../../Content/Flashs/Banner/banner.swf" width="1000" height="150">
                    <!--<param name="movie" value="images/chu.swf" />-->
                    <param name="quality" value="high"/>
                    <param name="wmode" value="transparent"/>
                </object>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/Home/Index">Trang chủ</a></li>
					<li><a href="/DoanhNghiep/SanPham">Sản phẩm</a></li>
					<li><a href="/DoanhNghiep/DonHang">Đơn hàng</a></li>
						
					<li><a href="/DoanhNghiep/ThongTinTaiKhoan">Thông tin tài khoản</a></li>
					<li><a href="/Account/SignOut">Thoát</a></li>
                </ul>

			</div><!--End menu -->

		</div> <!--End Header-->

		<!-- Phan rieng-->
		<div id="page1000" class="main" runat="server">
        @RenderBody()
		</div> <!--End Content-->

		<div id="page1000" class="footer">
            <div>
				<h3>Trường Đại Học Khoa Học Tự Nhiên </h3>
				<h3> ĐH Quốc Gia Thành Phố Hồ Chí Minh</h3>
				<h4>Môn học: Phát triển ứng dụng Web</h4>
				<h4>Sinh viên thực hiện: Nhóm C2</h4>
			</div>
		</div><!--End Footer-->
</body>
</html>

