
<div class="login">
    <p class="login_title">
        Đăng nhập để mua hàng
    </p>
    <img src="../../Content/themes/images/close(1).png" border="0" style="float:right; margin-top:-37px; margin-right:5px;cursor:pointer;" onclick="LoginAndRegisterFunction.CloseWindow();">
    <div class="login_content">
        <div class="form_login">
            <form action="#" id="LoginForm" method="post">
                <div class="form_login_item">
                    <p class="form_login_left">
                        Email đăng nhập <span class="other_color">(*)</span></p>
                    <p class="form_login_right">
                        <input class="user" data-val="true" data-val-required="The Email field is required." id="Email" name="LoginModel.Email" type="text" value="">
                    </p>
                    <br class="clean">
                </div>

                <div id="Email-Error" style="display:none;color:#F00; font-size:11px; text-align:left; margin:0px; padding:0px;padding-left:194px; width:300px;*margin-left:90px;*padding-left:50px; *width:350px;" class="Enternet-Field-Validation"></div>                    <div class="form_login_item">
                    <p class="form_login_left">
                        Mật khẩu <span class="other_color">(*)</span></p>
                    <p class="form_login_right">
                        <input class="pass" data-val="true" data-val-required="The Password field is required." id="Password" name="LoginModel.Password" type="password"></p>
                    <br class="clean">
                </div>

                <div id="Password-Error" style="display:none;color:#F00; font-size:11px; text-align:left; margin:0px; padding:0px;padding-left:194px; width:340px; *margin-left:90px;*padding-left:50px; *width:350px;" class="Enternet-Field-Validation"></div>                    <div class="lostpass">
                    <span>
                        <label for="checboxLogin">
                            <input checked="checked" class="checkboxLogin" id="checboxLogin" name="LoginModel.Remember" type="checkbox" value="true"><input name="LoginModel.Remember" type="hidden" value="false">
                                
                            Nhớ trạng thái đăng nhập | <a style="cursor: pointer;" onclick="LoginAndRegisterFunction.ShowWindow(3);">
                                Quên mật khẩu</a></label></span>
                </div>

                <div class="lostpass">
                    <span style="width: 380px;">
                        <input id="loginBtn" class="button" type="submit" value="Ðăng nhập " onclick="return DoLogin()" style="float: left; vertical-align: middle;">&nbsp;&nbsp;Ho?c dang nh?p v?i&nbsp;&nbsp;<a href="javascript:void(0)" onclick="facebook_login()"><img src="../../Content/themes/images/icon_fb.png" border="0" style="vertical-align: middle;"></a><a href="javascript:void(0)" onclick="google_login()"><img src="../../Content/themes/images/icon_google.png" border="0" style="vertical-align: middle;"></a><a href="javascript:void(0)" onclick="yahoo_login()"><img src="../../Content/themes/images/icon_yahoo.png" border="0" style="vertical-align: middle;"></a> </span>
                </div>
                <br class="clean">

                <div class="lostpass">
                    <div class="line">
                        &nbsp;</div>
                </div>

                <div class="lostpass">
                    <span class="register2">Nếu bạn chưa có tài khoản vui lòng tạo tài khoản
                        <input type="button" class="button4" value="Tạo tài khoản " onclick="LoginAndRegisterFunction.ShowWindow(2);" style="vertical-align: middle;">
                    </span>
                </div>

                <br class="clean">

            </form>
        </div>
        <br class="clean">
    </div>
</div>

        

