@{
    ViewBag.Title = "DoanhNghiep";
    Layout = "~/Views/Shared/_Layout_doanhnghiep.cshtml";
}

<div class="bg_account">

  <fieldset>
    <legend>Thông tin Doanh Nghiep</legend>
    <div class="acc_row">
                        <p class="left">
                            TÊN 
                        </p>
                        <p class="right">
                            <span id="nameLabel">Cong ty VNG</span>
                            <span id="contentName" style="display: none">
                                <input class="input_edit" tabindex="1" id="Name" maxlength="500" value="Cong Ty VNG"><br>
                            </span>
                        </p>
                       
    </div>
    <div class="acc_row">
    <p class ="left"> Thành lập năm 2004, VNG là công ty đi đầu trong lĩnh vực Internet ở Việt Nam. Trẻ trung, nhiệt huyết, năng động, không ngừng tìm tòi và khám phá công nghệ mới, chúng tôi đang chiếm lĩnh thị trường với hơn 20 sản phẩm giải trí, liên kết cộng đồng, và phần mềm được ưa chuộng nhất.</p>
    </div>
    <img title = "ảnh đại diện " class="doanhnghiep-img" src= "../../Content/Images/SanPham/Amthuc/AT03/d_5484_b.jpg"/>

   </fieldset>

</div>
