@{
    ViewBag.Title = "DoanhNghiep";
    Layout = "~/Views/Shared/_Layout_doanhnghiep.cshtml";
}
<h1>CÔNG TY DU LỊCH VIỆT</h1>
<h2>Giới thiệu công ty</h2>

<p>I. Giới thiệu: Công ty Cổ phần truyền thông Du Lịch Việt có tên thương hiệu là công ty Du Lịch Việt, tên giao dịch là Viet Media Travel Corporation. Trụ sở chính đặt tại 175, Nguyễn Thái Bình, Quận 1, Tp.HCM.</p>

<img src="../../Content/Images/CongTy/tru-so-cong-ty-du-lich-viet.jpg" />
<p>Du lịch ngày nay đã trở thành nhu cầu của mỗi chúng ta. Là một trong những đơn vị hoạt động kinh doanh trong lĩnh vực truyền thông và du lịch tại Việt Nam, từ khi thành lập đến nay, công ty Du Lịch Việt đã có những bước tiến vượt bậc. Với đội ngũ nhân viên giỏi, nhiệt tình, đam mê nghề nghiệp được đào trong và ngoài nước, những hướng dẫn viên nhiều năm kinh nghiệm trong lĩnh vực du lịch, phục vụ du lịch, đã có đóng góp không nhỏ cho ngành du lịch Việt Nam.
<br />
Bên cạnh các sản phẩm dịch vụ visa, đặt vé máy bay, dịch vụ cho thuê xe du lịch, dịch vụ nhà hàng, khách sạn, hoạt động kinh doanh chính của công ty là thiết kế và thực hiện một cách chuyên nghiệp các tour du lịch tham quan, tour hành hương, nghỉ dưỡng kết hợp thăm thân nhân trong và ngoài nước.
<br />
Công ty Du Lịch Việt đã chính thức đặt văn phòng đại diện tại Hoa Kỳ, và tổ chức được đội ngũ hướng dẫn viên là Việt Kiều có hiểu biết cặn kẽ về văn hóa Việt Nam cũng như các nền văn hóa bản địa.
mat truoc giay phep kinh doanh lu hoanh quoc te</p>
<br />
<p><h3>II. Giải thưởng:</h3>
Đầu năm 2012 Du Lịch Việt vinh dự đón nhận các giải thưởng:</p>

<img src ="../../Content/Images/CongTy/top-ten-2012.jpg"/>
<p>Trong năm 2011 Du Lịch Việt vinh dự liên tục đón nhận các giải thưởng:</p>
<img src="../../Content/Images/CongTy/cup-vang-thuong-hieu-viet.png" />
<p><h3>III. Các lĩnh vực hoạt động:</h3>
<br />
<h4>1. Dịch vụ du lịch:</h4>

    Tour du lịch vé lẻ Chất lượng cao khởi hành thường xuyên
	<br />
    Tour du lịch theo yêu cầu cho khách Việt Kiều về thăm quê.
	<br />
    Tour du lịch khách đoàn với chương trình và giá cả hấp dẫn\
	<br />
    Tour du lịch tuần trăng mật cho các cặp uyên ương.
	<br />
    Tour du lịch hội nghị, hội thảo
	<br />
    Tour du lịch nghỉ dưỡng.
	<br />
    Tour du lịch tiết kiệm
	<br />
    Tư vấn và thiết kế chương trình team building cho các tổ chức, doanh nghiệp
	<br />
    Dịch vụ tư vấn du lịch miễn phí
	<br />

<h4>2. Dịch vụ visa:</h4>

    Làm mới visa
	<br />
    Gia hạn visa
	<br />
    Cấp hộ chiếu
	<br />
    Thị thực nhập cảnh
	<br />

<h4>3. Đại lý vé máy bay</h4>
<br />
    Đại lý vé máy bay trong và ngoài nước

<br />    Vé máy bay giá rẻ

<h4>4. Dịch vụ cho thuê xe du lịch</h4>

    Cho thuê xe du lịch từ 4 – 45 chỗ
	<br />
    Dịch vụ cho thuê xe cưới
    
	<br />Xe phục vụ hội nghị, đi sân bay
    
	<br />Cho thuê xe lữ hành

<h4>5. Dịch vụ nhà hàng, khách sạn</h4>
<br />
    Hệ thống phòng nghỉ hiện đại, trang thiết bị sang trọng: Điện thoại trực tiếp quốc tế, truyền hình màu vệ tinh, mạng internet toàn cầu, mini bar, điều hòa nhiệt độ, phòng massage, khu tập thể thao, phòng họp,…
<br />    Nhà hàng chuyên phục vụ các món ăn Âu – Á và các món ăn truyền thống của dân tộc Việt Nam. Phục vụ ăn trưa ăn tối, hội thảo hội nghị, tiệc sinh nhật, tất niên. Phục vụ buffet và thực đơn theo yêu cầu, sở thích với hàng trăm món ăn độc đáo, hấp dẫn

<h3>IV. Hình ảnh công ty:</h3></p>

<img src="../../Content/Images/CongTy/nhan-vien-cong-ty-du-lich-viet.jpg" />
<img src="../../Content/Images/CongTy/nhan-vien-bo-phan-sales.jpg" />

<p> <h3>V. Các văn phòng: </h3>
</p>

<h4>Tại TP.HỒ CHÍ MINH</h4>
<br />
- Địa chỉ: 175 Nguyễn Thái Bình, Quận 1, TP.HCM
<br />
- Điện thoại:(+84 8) 3914 6688
<br />
- Fax: (+84 8) 3915 2235
<br />
- Email: info@dulichviet.com.vn
<br />


<p><h3>Tại HÀ NỘI</h3>
- Địa chỉ: 21 Văn Miếu, P. Văn Miếu, Q. Đống Đa, Hà Nội
<br />
- Điện thoại: (+84 4) 3512 3388
</br>
- Fax: (+84 4) 3512 2769
</br/>
- Email: info@dulichviet.com.vn</p>