@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.BeginForm("ChangePassword", "Home", FormMethod.Post)
<script type="text/javascript">
    $(document).ready(function () {
        $('#OldPassword').focus();
        $('#btChangePass').click(function () {
            var f = $("#FormChangePass");
            var action = f.attr("action");
            var form = f.serialize();

            var divBlock = $(".form_buy");
            if (divBlock != null)
                divBlock.block({ message: '<h1><img src="../../Content/images/ajax-loader.gif" /></h1>' });
            $.post(action,
                form,
                function (result) {
                    $(".form_buy").unblock();

                    if (!result.IsValid) {
                        $.ValidateUI(result.Errors);
                        //$.ShowErrorPopup($.GetNiceErrors(result.Errors));
                    } else {
                        /*if (result.JsonData != "") {

                        }*/
                        alert(result.JsonData);
                        window.location = result.RedirectUrl;
                    }
                });
            return false;
        });
        $('#Email, #OldPassword, #NewPassword, #RePassword').keypress(function (event) {
            if (event.which == 32) {
                event.preventDefault();
            }
        });
    });
</script>

<div class="bg_account">
    <div class="bg_account_T">
        Đổi mật khẩu
    </div>

    <div class="bg_account_M">
        <ul class="account_tab">
            <li class="active">@Html.ActionLink("Thông tin đơn hàng", "OrderList")</li>
            <li>@Html.ActionLink("Thông tin tài khoản", "AccountInformation")</li>
            <li>@Html.ActionLink("Đổi mật khẩu", "ChangePassword")</li>
        </ul>

        <div class="account_content">
            <form action="./ChangePassword.cshtml" id="FormChangePass" method="post">
                <div class="form_buy">
                     <div class="form_buy_item">
                        <p class="form_buy_left" style="width: 180px; margin: 0px;">
                            Mật khẩu cũ <span class="other_color">(*)</span></p>
                        <p class="form_buy_right" style="margin: 0px;">
                            <input data-val="true" data-val-required="The OldPassword field is required." id="OldPassword" name="OldPassword" type="password">
                        </p>
                        <br class="clean">
                    </div>

                    <div id="OldPassword-Error" style="display:none;padding: 0 0 0 191px !important;" class="Enternet-Field-Validation">
                    </div>

                    <div class="form_buy_item">
                        <p class="form_buy_left" style="width: 180px; margin: 0px;">
                            Mật khẩu mới <span class="other_color">(*)</span></p>
                        <p class="form_buy_right" style="margin: 0px;">
                            <input data-val="true" data-val-required="The NewPassword field is required." id="NewPassword" name="NewPassword" type="password">
                        </p>
                        <br class="clean">
                    </div>

                    <div id="NewPassword-Error" style="display:none;padding: 0 0 0 191px !important;" class="Enternet-Field-Validation">
                    </div>
                    <div class="form_buy_item">
                        <p class="form_buy_left" style="width: 180px; margin: 0px;">
                            Nhập lại mật khẩu <span class="other_color">(*)</span></p>
                        <p class="form_buy_right" style="margin: 0px;">
                            <input data-val="true" data-val-required="The RePassword field is required." id="RePassword" name="RePassword" type="password"/>
                        </p>
                        <br class="clean">
                    </div>

                    <div id="RePassword-Error" style="display:none;padding: 0 0 0 191px !important;" class="Enternet-Field-Validation">
                    </div>
                    <div class="form_buy_item" align="center" style="margin-top: 20px;">
                        <input class="button" id="btChangePass" type="submit" value="Cập nhật "/>
                    </div>
                </div>
            </form>
        </div>

        <br class="clean">
        <br class="clean">
    </div>

    <div class="bg_account_B">
    </div>
</div>