@using GroupOnC2.Models
@*@Html.BeginForm("Register", "Account", FormMethod.Post)*@
@{
    ViewBag.Title = "NewAccount";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h3 class="heading">New Account</h3>
<hr />
<div class="content">
   <form action="/Admin/NewAccount" id="RegisterForm" method="post">
            <div class="form_res">

				<div class="form_res_item">
                    <p class="form_res_left">
                        Tên đăng nhập <span class="other_color">(*)</span></p>
                    <p class="form_res_right">
                    
					    <input data-val="true" data-val-required="Tên đăng nhập là yêu cầu."id ="tenDangNhap"  name="TenDangNhap" type="text" value=""/>
					</p>
                    <br class="clean">
                </div>

                <div class="form_res_item">
                    <p class="form_res_left">
                        Email <span class="other_color">(*)</span></p>
                    <p class="form_res_right">
					
                        <input data-val="true" data-val-required="The EmailRegister field is required." id="EmailRegister" name="RegisterModel.EmailRegister" type="text" value=""/></p>
                    <br class="clean">
                </div>

                <div id="EmailRegister-Error" style="display:none;color:#F00; font-size:11px; text-align:left; margin:0px; padding:6px 0 0 175px;" class="Enternet-Field-Validation">
                </div>

                <div class="form_res_item">
                    <p class="form_res_left">
                        Mật khẩu <span class="other_color">(*)</span></p>
                    <p class="form_res_right">
					
                        <input data-val="true" data-val-required="The PasswordRegister field is required." id="PasswordRegister" name="RegisterModel.PasswordRegister" type="password"/></p>
                    <br class="clean">
                </div>

                <div id="PasswordRegister-Error" style="display:none;color:#F00; font-size:11px; text-align:left; margin:0px; padding:6px 0 0 175px;" class="Enternet-Field-Validation">
                </div>

                <div class="form_res_item">
                    <p class="form_res_left">
                        Nhập lại mật khẩu <span class="other_color">(*)</span></p>
                    <p class="form_res_right">
					 <input data-val="true" data-val-required="The RePassword field is required." id="RePassword" name="RegisterModel.RePassword" type="password">
					</p>
                    <br class="clean">
                </div>

                <div id="RePassword-Error" style="display:none;color:#F00; font-size:11px; text-align:left; margin:0px; padding:6px 0 0 175px;" class="Enternet-Field-Validation">
                </div>
                <div class="form_res_item">
                    <p class="form_res_left">
                        Họ tên <span class="other_color">(*)</span></p>
                    <p class="form_res_right">
						
                        <input data-val="true" data-val-required="The Name field is required." id="Name" name="RegisterModel.Name" type="text" value=""/>
					</p>
                    <br class="clean">
                </div>

                <div id="Name-Error" style="display:none;color:#F00; font-size:11px; text-align:left; margin:0px; padding:6px 0 0 175px;" class="Enternet-Field-Validation">
                </div>
                <div class="form_res_item">
                    <p class="form_res_left">
                        Điện thoại di động <span class="other_color">(*)</span></p>
                    <p class="form_res_right">
						 <input data-val="true" data-val-required="The Phone field is required." id="Phone" name="RegisterModel.Phone" type="text" value="">
					</p>
                    <br class="clean">
                </div>

                <div id="Phone-Error" style="display:none;color:#F00; font-size:11px; text-align:left; margin:0px; padding:6px 0 0 175px;" class="Enternet-Field-Validation">
                </div>
                <div class="form_res_item">
                    <p class="form_res_left">
                        Giới tính  <span class="other_color">(*)</span></p>
                    <p class="form_res_right">
                        </p>
						<p style="text-align:left;padding:15px 0 0 0">
						<input checked="checked" data-val="true" data-val-number="The field Gender must be a number." data-val-required="The Gender field is required." id="RegisterModel_Gender" name="RegisterModel.Gender" type="radio" value="0"/> Nam
                        <input id="RegisterModel_Gender" name="RegisterModel.Gender" type="radio" value="1"/> Nữ
						</p>
                    <p>
					</p>
                    <br class="clean"/>
                </div>

                <div class="form_res_item">
                    <p class="form_res_left">
                        Ngày sinh <span class="other_color">(*)</span></p>
                    <p id="BirthDay" class="form_incard_right">
                        <select name="RegisterModel.CurrentDate">
                            <option>Ngày</option>
                                @for (int i = 1; i <= 31; i++ )
                                {
                                    <option value= "@i">@i</option>
                                }
                                        
                        </select>
                        <select name="RegisterModel.CurrentMonth">
                            <option>Tháng</option>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <option value= @i>@i</option>
                                }
                                        
                        </select>
                        <select name="RegisterModel.CurrentYear">
                            <option>Năm</option>
                                @for (int i = 1930; i <= 2012; i++)
                                {
                                    <option value= @i>@i</option>
                                }
                                        
                        </select></p>
                    <br class="clean">
                </div>

                <input type="submit" value="Thêm"/>
				
            </div>
        </form>
		</div>