

@if (Request.IsAuthenticated)
{   
    <span id="info_acc" class="info_acc" style="margin: 13px 0px 0px; ">
        <a id="user" title="Nguyen Trang"> @Request.Cookies["UserName"]["UserName"]</a>
        <span id="content_acc" class="content_acc" style="display: none; ">
            <ul>
                <li>@Html.ActionLink("Thông tin đơn hàng", "OrderList")</li>
                <li class="active">@Html.ActionLink("Thông tin tài khoản", "AccountInformation")</li>
                <li>@Html.ActionLink("Sign Out", "SignOut" ,"Account")</li>
            </ul>
        </span>
    </span>
}
else
{
    <div class="top_login">
        <a href="javascript:void(0)" title="Đăng nhập" onclick="LoginAndRegisterFunction.ShowWindow(1)">
            Đăng nhập
        </a>

        <text>|</text>

        <a href="javascript:void(0)" title="Tạo tài khoản" onclick="LoginAndRegisterFunction.ShowWindow(2)">
            Tạo tài khoản</a>
    </div>
    <div class="newsletter">
        <div class="mail_L"></div>

        <div class="mail_C">
           <form action="/Home/FeedbackSent" id="LoginForm" method="post">                         
                <span>Nhận thông tin khuyến mãi</span>
                <input id="tbEmail" value="Email của bạn" class="key_word" name = "Email"/>
                @*<input class="btn_send" type="submit" onclick="return SubmitForm(0)" value=""/>*@
				<input id="Submit1" type="submit" value="Lưu" />
            </form>
        </div>
	
        <div class="mail_R"></div>
        <div id="erroemail" style="font-size: 12px; padding-left: 33px; padding-top: 4px; text-align: left;color: Red; display: none">
            Email không hợp lệ</div>

    </div>
}
